<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">


<beans>
 <bean id="log4jInitialization"
 class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
 <property name="targetClass"
  value="org.springframework.util.Log4jConfigurer" />
   <property name="targetMethod" value="initLogging" />
    <property name="arguments">
    <list>
      <value>/etc/dataone/mercury/indexer/log4j.properties</value>
     </list>
   </property>
  </bean>
    <import resource="datanet_schema_xpath.xml"/>
    <import resource="traceExecution.xml"/>
    <bean id="properties" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location">
            <value>classpath:/mercury3.properties</value>
        </property>
    </bean>

    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
        <property name="driverClass" value="${mercury3.driverClassName}"/>
        <property name="jdbcUrl" value="${mercury3.url}"/>
        <property name="user" value="${mercury3.username}"/>
        <property name="password" value="${mercury3.password}"/>
    </bean>

    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="documentDatabaseTarget" class="index_utils.DefaultDocumentDatabase">
        <property name="dataSource" ref="dataSource"/>
        <property name="solrPostURL">
            <value>${mercury3.solrPostURL}</value>
        </property>
        <property name="solrdb">
            <value>${mercury3.solrdb}</value>
        </property>
        <property name="source">
            <value>${mercury3.source}</value>
        </property>
        <property name="instance">
            <value>${mercury3.instance}</value>
        </property>
        <property name="schema">
            <value>${mercury3.schema}</value>
        </property>
    </bean>

    <bean id="documentDatabase" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
        <property name="transactionManager" ref="transactionManager"/>
        <property name="target" ref="documentDatabaseTarget"/>
        <property name="transactionAttributes">
            <props>
                <prop key="getSources">PROPAGATION_REQUIRED,readOnly</prop>
            </props>
        </property>
    </bean>

    <!-- need a better way to configure this so that we must not recompile at every addition of a
    namespace -->
    <bean id="dataoneMercuryNamespaceContext" class="org.dataone.cn.mercury.MercuryNamespaceContext">
        <property name="namespaceHashMap" >
            <map>
                <entry>
                    <key><value>mets</value></key>
                    <value>http://www.loc.gov/METS/</value>
                </entry>
                <entry>
                    <key><value>dim</value></key>
                    <value>http://www.dspace.org/xmlns/dspace/dim</value>
                </entry>
                <entry>
                    <key><value>D1</value></key>
                    <value>http://dataone.org/service/types/SystemMetadata/0.1</value>
                </entry>
            </map>
        </property>
    </bean>
    <bean id="daacSolrXPathPrototype" class="org.dataone.cn.mercury.Solr_XPath_Prototype">
        <constructor-arg index="0" >
            <ref bean="${mercury3.datanetSolrSchema}" />
        </constructor-arg>
        <constructor-arg index="1">
            <ref bean="dataoneMercuryNamespaceContext"/>
        </constructor-arg>
    </bean>
    <bean id="daacXpathHandler" class="org.dataone.cn.mercury.XPath_Handler">
        <property name="lookupProperties">
            <ref bean="${mercury3.datanetLookupProperties}"/>
        </property>
        <property name="spe">
            <ref bean="daacSolrXPathPrototype"/>
        </property>
    </bean>

    <bean id="DAACIndexer" class="org.dataone.cn.mercury.Indexer">
        <property name="instance"><value>${mercury3.instance}</value></property>
        <property name="source"><value>${mercury3.source}</value></property>
        <property name="solrdb"><value>${mercury3.solrdb}</value></property>
        <property name="solrPostURL"><value>${mercury3.solrPostURL}</value></property>
        <property name="sxp">
            <ref bean="daacSolrXPathPrototype" />
        </property>
        <property name="xpathHandler">
            <ref bean="daacXpathHandler" />
        </property>
        <property name="traceList">
        <ref bean="testFileInfo" />
        </property>
        <property name="documentDatabase">
            <ref bean="documentDatabase" />
        </property>
    </bean>

</beans>
