<?xml version="1.0" encoding="UTF-8"?>

<!--
    Document   : applicationContext.xml
    Created on : July 23, 2010, 12:58 AM
    Author     : rwaltz
    Description:
        Purpose of the document follows.
-->


<beans default-init-method="init" xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd">

    <bean id="log4jInitialization"
     class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
     <property name="targetClass"
      value="org.springframework.util.Log4jConfigurer" />
       <property name="targetMethod" value="initLogging" />
        <property name="arguments">
        <list>
          <!--<value>classpath:org/dataone/cn/batch/proto/scheduler/log4j.properties</value> -->
           <value>file:/etc/dataone/mn-synchronize/log4j.properties</value>
         </list>
       </property>
      </bean>

    <bean id="log4jInitializationRedirectStdOutErr"
     class="org.dataone.cn.batch.proto.scheduler.utils.StdOutErrLog" />

   <bean id="properties" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
      <property name="location">
         <value>file:/etc/dataone/mn-synchronize/synchronization.properties</value>
      </property>
   </bean>

   <bean id="nodeListAccess" class="org.dataone.cn.batch.utils.NodeListAccess">
       <constructor-arg value="${access.nodeListFileLocation}"/>
   </bean>

   <bean id="nodeList" class="org.dataone.service.types.NodeList"
        factory-bean="nodeListAccess"
        factory-method="getNodeList" />

    <bean id="mnNodeReferenceUtility" class="org.dataone.cn.batch.utils.NodeReference">
        <property name="mnNodeList" ref="nodeList" />
        <property name="mnNodeIdentifier" value="${synchronize.mnIdentifier}" />
    </bean>

   <import resource="/scienceMetadataFormats.xml" />
   <import resource="/metadataPackagerService.xml" />
   <import resource="/mnHarvestService.xml" />


    <bean name="harvesterJob" class="org.dataone.cn.batch.proto.scheduler.jobs.MnHarvesterJob">
        <property name="bob" ref="biBimBob" />
        <property name="cnToken" ref="cnToken" />
        <property name="cnClient" ref="cnClient" />
        <property name="queueBuilder" ref="objectListQueue" />
        <property name="queueProcessor" ref="objectListProcessor" />
        <property name="queueWriter" ref="objectListWriter" />
    </bean>

    <bean id="runMnHarvesterJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
      <property name="targetObject" ref="harvesterJob" />
      <property name="targetMethod" value="harvestMetadata" />
      <property name="concurrent" value="false" />
    </bean>

    <bean id="cronMnHarvesterBean" class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail" ref="runMnHarvesterJob" />
        <!-- run at every hour of every day -->
        <property name="cronExpression" value="0 0/5 * * * ?" />
    </bean>

    <bean name="packagerJob" class="org.dataone.cn.batch.proto.scheduler.jobs.PackagerJob">
        <property name="logReader" ref="eventLogReader" />
        <property name="packageWriter" ref="metadataPackagerWriter" />
    </bean>

    <bean id="runMnPackagerJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
      <property name="targetObject" ref="packagerJob" />
      <property name="targetMethod" value="packageMetadata" />
      <property name="concurrent" value="false" />
    </bean>

    <bean id="cronMnPackagerBean" class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail" ref="runMnPackagerJob" />
        <!-- run at every hour of every day -->
        <property name="cronExpression" value="0 1/5 * * * ?" />
    </bean>
    
    <bean id="scheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="cronMnPackagerBean" />
                <ref bean="cronMnHarvesterBean" />
            </list>
        </property>
    </bean>
  
</beans>
